body{
	margin: 0px;
	background-color: #F5F5F5;
}

/*******************************************
	Banner
*******************************************/

/* Header Background */
.banner{
	background: url('../img/ruby-banner.jpg') right top;
	height: 300px;
	width: 100%;
	color: white;
}

.banner_title{
	margin-top: 60px;
	margin-left:auto;
	margin-right:auto;
	width: 35%;
	height: 100px;
	display: inline-block;
}

.banner_title_text{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 250%;
	text-shadow: 3px 3px 3px #FA434D;
}
/*******************************************
	Navigation Bar
*******************************************/

/* Nav Menu Div */
.nav_menu{
	margin: 0px;
	background-color: #d91f28;
}

/* Nav Menu List */
.nav_menu > ul{
	margin: 0px;
	list-style-type: none;
	overflow: hidden;
}

/* Nav Menu List Elements */
.nav_menu > ul > li {
	padding: 4px 15px 4px 15px;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	color: white;
	float: left;
}

/* Nav Menu List Elements (HOVER) */
.nav_menu > ul > li:hover{
	background-color: #FC9096;
}

/* Nav Menu List Paragraph Elements */
.nav_menu a{
	margin: 0px;
	padding: 5px 25px 5px 25px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

/* Highlight Current Tab */
.nav_menu > ul > li.curr {
	background-color: #FF7078;
	color: white;
}

/*Highlight Current Tab (HOVER) */
.nav_menu > ul > li.curr:hover {
	background-color: #FFABAF;
}

/*******************************************
	Footer
*******************************************/

.footer{
	margin: 10px 35px 0px 35px;
	font-size: 16;
}

/*******************************************
From Bootstrap CSS v2.3.2
*******************************************/
 .container-fluid{
	 padding-right:20px;
	 padding-left:20px;
	 padding-bottom:5px;
 }

.hero-unit{
	padding:60px;
	margin-bottom:30px;
	font-size:18px;
	font-weight:200;
	line-height:30px;
	color:inherit;
	background-color:#eee;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px
}

.hero-unit h1{
	margin-bottom:0;
	font-size:60px;
	line-height:1;
	letter-spacing:-1px;
	color:inherit
}

